@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.notification__container .MuiPopover-paper {
  background-color: rgba(29, 29, 29, 0.75);
}

.pagination-basic__container {
  button {
    background-color: transparent !important;
    margin: 4px;
    padding: 0;
    min-width: 0;
    font-weight: 400;
  }
  .Mui-selected {
    font-weight: 900;
  }
  .MuiTouchRipple-root {
    width: 0;
  }
}


.MuiOutlinedInput-notchedOutline{
  border: 0;
}
